<?xml version="1.0" encoding="UTF-8" ?>
<DeviceServer>
    <DeviceClass name="serverTestFilterAttributes">
        <DeviceInstance name="tango/test/servertestfilterattributes">
            <Attribute name="PlainRename" source="INT/FROM_DEVICE_SCALAR">
                <Egu />
            </Attribute>
            <Attribute name="ChangeAttributes" source="SHORT/FROM_DEVICE_SCALAR">
                <Description>ChangedDescription</Description>
                <Egu>mA</Egu>
            </Attribute>
            <Attribute name="INT_TO_DEVICE_SCALAR" source="INT/TO_DEVICE_SCALAR" />
            <Attribute name="SHORT_TO_DEVICE_SCALAR" source="SHORT/TO_DEVICE_SCALAR" />
        </DeviceInstance>
    </DeviceClass>
</DeviceServer>

